{% extends "./layout.html.twig" %}

{% block body %}

    <div>

        <h1 id="lastTitle">Fiche de l'agent</h1>

            <div>
                <p> {{ agent.nom }} </p>
                <p>{{ agent.prenom }} </p>
                <p>{{ agent.sexe }}</p>
                <p>{{ agent.fonction }}</p>
                <p><a style="color: #000;" class="nav-link" href="{{ path('ajouterContrat', {'id': agent.id } ) }}">Ajouter un contrat</a> </p>
            </div>

        {% for contrat in contrats %}

            <div>
                <p>{{ contrat.greta }} - {{ contrat.typeDuree }}</p>

            </div>

        {% endfor %}

    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}